#innovate {
	background:#152732;
	font-weight:bolder;
	text-align:left;
}
#innovate-text{
	font-size: 18px;
	padding:5% 5%;
	color:white;
	width:90%;
	max-width:1000px;
	margin: 0 auto;
}
#innovate-text a {
	text-decoration:none;
	color:#E59400;
}
#innovate-text a:hover {
	text-decoration:underline;
}


#grey-desc{
    background:#F5F5F5;    
    
}

#dgrey-desc{
    background:#E8E8E8;
}
	.member {
		padding:50px 0;
		width:85%;
		max-width:1000px;
		margin: 0 auto;
	}
	.pic {
		text-align:center;
	}
	.pic img{
		display:inline-block;
		color:white;
		height:250px;
	}
	.desc {
		display:inline-block;
		font-weight:bolder;	
		padding:5% 2%;
		font-size:1em;
		color:black;
		width:50%;
	}
	.name {
		font-style:italic;
		font-size:1.5em;
	}


 .intro {
     margin:0 0;
     padding:0%;
     width:100%;
 }

