
        body {
            font-family:Comic Sans, Arial, sans-serif;
            -webkit-transition:opacity 800ms 0ms;
            -moz-transition:opacity 800ms 0ms;
            transition:opacity 800ms 0ms;
            opacity:0;
            height: auto;
            min-height:100%;
	    padding: 0;
	    margin: 0;
        }
		#content {
			font-family:Arial Rounded MT Bold, Courier New, sans-serif;
		}
		#navbar {
			border-spacing:0;
			width:100%;
		
		}
		.nav-item {
			border-right:0 px solid #ffffff;
			padding:0;
			width:33%;
		}
		.sub-nav {
			position:absolute;
			display:none;
		}
		.sn-item {
			border-top:2px solid #ffffff;
			text-transform:uppercase;
			list-style-type:none;
			text-align:center;
			background:#665A4A;
			line-height:2.5em;
			font-weight:bold;
			font-size:.75em;
			color:white;
		}
		.sn-item:hover {
			font-weight:bolder;
			background:black;
		}

        .section {
            padding:25px;
            display:none;
        }

        .ready {
            opacity:1;
        }

#container{
    min-height: 100%;
    position:relative;
    padding-bottom: 100px;    /* height of footer */
    
}



footer{
    height: 100px;
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color:#C93227;
}
