/*
	Campus pic instead of blur
*/
body {
	margin:0;
	padding:0;
	font-family:sans-serif;
}

iframe{
	width: 80px;
	height: 30px;
}

.social-media-buttons{
}

#body-content {	
	opacity:0;
	transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	-webkit-transition: opacity 200ms ease-in;
}

.nav-bar {
	-webkit-transition:all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	padding:15px;
	font-size:24px;
	text-align:center;
	line-height: 40px;
	height: 40px;
	background: white;
	position:fixed;
	width: 100%;
	z-index: 3;
	border-bottom: 2px solid grey;
	opacity:.85;
}

.nav-bar-border{	
	background: white url(../img/campus_50.jpg) no-repeat center center fixed;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align:center;
	color: white;
	overflow:hidden;
	padding:50px;
	padding-bottom:25px;
}

.nav-bar-pic{
	margin:65px auto 0 auto;
	width: 55%;
	max-width: 650px;
}

.nav-bar-date-wrapper {
	margin:15px auto;
	text-align:center;
}
.nav-bar-date {
	text-decoration:none;
	color:#ffffff;
	font-family: 'quicksand', sans-serif, arial;
	font-size: 30px;
}
.nav-bar-date:hover {
	text-decoration:underline;
}

.button-wrapper {
	margin:50px auto;
	width:100%;
}
.register-button{
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	font-family: 'quicksand', sans-serif, arial;
	font-size: 1.4em;
	text-transform: uppercase;
	width: 150px;
	height:25px;
	line-height:25px;
	background: #152732;
	border-radius: 10px;
	color: #fff;
	padding: 22px 30px;
	display: block;
	margin: 0 auto;
	text-decoration: none;
	text-align: right;
	float: left;
	margin-left: -100px;
}

.register-button:hover{
	background: #E59400;
	font-weight:bold;
	border-radius:0;
	width:250px;
}

.sponsor-button{
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	font-family: sans-serif;
	font-size: 1.4em;
	text-transform: uppercase;
	width: 150px;
	height:25px;
	line-height:25px;
	background: #152732;
	border-radius: 10px;
	color: #fff;
	padding: 22px 30px;
	display: block;
	margin: 0 auto;
	text-decoration: none;
	text-align:left;
	float: right;
	margin-right: -100px;
}

.sponsor-button:hover{
	background: #E59400;
	font-weight:bold;
	border-radius:0;
	width:250px;
}


.first-description{
	clear:both;
	padding: 75px 0;

}

.second-description{
	padding: 75px 0;
	background-color: #152732;
	color:white;
	font-family: 'quicksand', sans-serif, arial;

}

.emphasize {
	color:#E59400;
}

.container{
	max-width: 960px;
	margin: 0 auto;
	height: 100%
}


h3{
	color: #152732;
	font-size: 5.7em;
	text-align: center;
	margin: 0 auto;
	width: 800px;
	font-weight: bold;
	line-height: 1.2em;
	letter-spacing: -.05em;
	font-family: 'quicksand', sans-serif, arial;
	text-transform:uppercase;
}


.food-info{
	color: #152732;
	font-size: 1.7em;
	text-align: center;
	margin: 0 auto;
	width: 800px;
	font-weight: bold;
	line-height: 1.2em;
	letter-spacing: -.05em;
	font-family: 'quicksand', sans-serif, arial;
}

.faq-info-title{
	color: #ffffff;
	text-align:center;
	margin:0 auto;
	font-weight: bold;
	letter-spacing:-.05em;
}

.faq-info-description {
	color:white;
	width:80%;
	max-width:1000px;
	margin:25px auto;
	font-weight:bold;
	font-size:18px;
}

.faq-info {
	width:80%;
	max-width:1000px;
	margin:0 auto;
}

.faq-group {
	padding:15px;
}

.faq-title {
	font-style:italic;
	font-weight:bolder;
	font-size:18px;
}

.faq-text {
	font-size:16px;
}


.body-section {
	width:100%;
	padding:15px;
	font-size:10px;
	border-bottom: 2px solid grey;
}



.header-link {
	color:black;
	font-size:16px;
	text-decoration:none;
	text-transform:uppercase;
	transition:position 250ms ease-in;
	-moz-transition:position 250ms ease-in;
	-webkit-transition:position 250ms ease-in;
}
.header-link:hover {
	top:2px;
	color:#E59400;
	position:relative;
}


#title {
	height:50px;
	font-size:40px;
	line-height:50px;
	text-transform:uppercase;
}

#title-logo {
	top:-115px;
	width:175px;
	margin:0 25px;
	position:relative;
	vertical-align:text-top;
}

/* Code for phone screens */
@media screen and (max-width:700px) {
	.body-section {
		padding:5px;
	}
	
	#body-header {
		height:40px;
		font-size:14px;
		line-height:40px;
		text-align:center;
	}
	
	.header-link {
		font-size:14px;
	}
	
	#title {
		font-size:22px;
		font-weight:bold;
		text-align:center;
	}
	
	#title-logo {
		display:none;
	}
	
	#body-hero {
		display:inherit;
	}
}
