<section class="space">.</section>

	<section id="innovate">
		<div id="innovate-text">
			The idea for this hackathon was the result of an amazing summer that two of the coordinators, Perry Ogwuche and Randi Williams, spent in San Francisco, California as fellows of 
			<a href="http://code2040.org/" target="_blank"> <b>CODE2040</b> </a>. 

			They discovered a whole new world of computer science where people sought to solve the problems that revolved around them everyday -- and made successful businesses doing so. <br /><br /> After seeing what computer science could be the two realized that UMBC was a place of untapped potential and decided to host this hackathon to bring <i>hack to UMBC</i>.
		 </div>
		<div id="innovate-pic">
			<a href="#"> <img src="/assets/GsansGsans-01.jpg" style="width: 250px;"> </a>
		</div><br />
	</section>




<section class="space">.</section>

	<table id="picture-slider">
		<tr>
			<td id="-1" class="arrow"><</td>
			<td id="members">
				<p id="alex" class="member"><img class="member-pic" src="/assets/alex.jpg"></p>

				<a href="http://www.linkedin.com/profile/view?id=177403397&trk=nav_responsive_tab_profile"       
				   target ="_blank"> 
					<p id="perry" class="member"><img class="member-pic" src="/assets/perry.jpg"> </p> 
				</a> 
					<p id="randi" class="member"><img class="member-pic" src="/assets/randi.jpg"> </p>
			</td>
			<td id="+1" class="arrow">></td>
		</tr>
		<tr>
			<td />
			<td id="selectors">
				<p id="op0" class="selector">.</p>
				<p id="op1" class="selector">.</p>
				<p id="op2" class="selector">.</p>			
			</td>
			<td />
		</tr>
	</table>