<section id="innovate" class="section">
	<div id="innovate-text">
		The idea for this hackathon was the result of an amazing summer that two of the coordinators, Perry Ogwuche and Randi Williams, spent in San Francisco, California as fellows of 
		<a href="http://code2040.org/" target="_blank"> <b>CODE2040</b> </a>. 

		They discovered a whole new world of computer science where people sought to solve the problems that revolved around them everyday -- and made successful businesses doing so. <br /><br /> After seeing what computer science could be the two realized that UMBC was a place of untapped potential and decided to host this hackathon to bring <i>hack to UMBC</i>.
	</div>
	<div id="innovate-pic">
		<a href="http://innovateumbc.org"><img id="inno" src=src="/assets/GsansGsans-01.jpg"></a>
		<div id="contact"><a href="mailto:hackumbc@gmail.com">Questions? Comments? Interested? Shoot us an E-mail!</a> 
	</div>
</section>

<div id="members" class="section">
	<table id="prajit" class="member">
		<td class="desc">
			<span class="name">Prajit Kumar Das</span> is a Ph.D. student studying Computer Science at UMBC. He is president of UMBC's ACM chapter.
		</td>
		<td class="pic"><img src="prajit.jpg"></td>
	</table>
	<table id="alex" class="member">
		<td class="pic"><img src="alex.jpg"></td>
		<td class="desc"><span class="name">Alexander Morrow</span> is a senior studying Computer Science at UMBC. He has mad computer server/website skills.</td>
	</table>
	<table id="perry" class="member">
		<td class="desc"><span class="name">Perry Ogwuche</span> is in his senior year of studying Computer Science at UMBC. He is interested in starting his own company and is already pursuing the opportunity with a project he began over the summer.</td>
		<td class="pic"><img src="perry.jpg"></td>
	</table>
	<table id="randi" class="member">
		<td class="pic"><img src="randi.jpg"></td>
		<td class="desc"><span class="name">Randi Williams</span> is in her sophomore year of study at UMBC. She studies computer engineering and is interested in building products that are not only strong in software but also look and feel cool.</td>
	</table>
</div>