<div id="greeting">
	<h3>Welcome to hackUMBC, the first ever campus-wide hackathon organized at UMBC.</h3> The event is open to all students at UMBC of any skill level, from innovators to designers to hardcore coders.  Join us for 24 hours of teamwork and exploration as you compete to grow projects from scratch, all while expanding your connections to other students, industry leaders, and professors.
	<br>
	<br>
	<h3>When:</h3>
	December 6th - December 7th, 2013.
	<br>
	<br>

	<h3>Where:</h3>
	The UMBC Skylight Room, Located on the top floor of the Commons.
	<br>
	<br>

	<h3>How do I sign up:</h3>
	Individuals or teams can register on the website or in person beginning November first.
	<br>
	<br>	

	<h3>Who:</h3>
	This event is a collaborative effort between the UMBC Cryptocurrency Club, the ACM Student Chapter, and innovateUMBC.
	<br>
	<br>	

</div>
