<hr>
<see bk file for adding different levels>
<div class="bronze">
	<div id="first-bronze-logo" class="moveMe">
		<a href="https://www.facebook.com/UMBC.ACM.Chapter" target="_blank" >  <img alt="ACM logo" src="/assets/acm.png" style=" width: 90px; " > </a>
	</div>

	<div id="second-bronze-logo" class="moveMe">
		<a href="https://www.facebook.com/CryptocurrencyClub/" target="_blank" >  <img alt="crypto logo" src="/assets/crypto.jpg" style=" width: 90px; " > </a>
	</div>

	<div id="third-bronze-logo" class="moveMe">
		<a href="http://www.umbc.edu/" target="_blank" >  <img alt="UMBC logo" src="/assets/UMBC_Seal.png" style=" width: 90px; " > </a>
	</div>
</div>


<div class="botton-text">
	<a href="/assets/hackUMBC_sponsorship_packet.pdf">Interested in sponsoring hackUMBC?</a>
</div>
