<div class="title-bar">
	SPONSORS
</div>


<div class="bronze">
	<div id="first-bronze-logo" class="moveMe">
		<a href="http://www.redbeacon.com/" target="_blank" >  <img alt="Github logo" src="/assets/redbeacon.jpeg" style=" width: 90px; " > </a>
	</div>

	<div id="second-bronze-logo" class="moveMe">
		<a href="http://www.code2040.org/" target="_blank" >  <img alt="Github logo" src="/assets/code2040.jpg" style=" width: 90px; " > </a>
	</div>

	<div id="third-bronze-logo" class="moveMe">
		<a href="http://www.jawbone.com/" target="_blank" >  <img alt="Github logo" src="/assets/jawbone.jpg" style=" width: 90px; " > </a>
	</div>

	<div id="fourth-bronze-logo" class="moveMe">
		<a href="http://www.facebook.com/" target="_blank" >  <img alt="Github logo" src="/assets/facebook.png" style=" width: 90px; " > </a>
	</div>

	<div id="fifth-bronze-logo" class="moveMe">
		<a href="http://www.instagram.com/" target="_blank" >  <img alt="Github logo" src="/assets/instagram.jpg" style=" width: 90px; " > </a>
	</div>
</div>

<div class="botton-text">
	<a href="#"> SPONSOSHIP INFORMATION</a>
</div>
