.title-bar{
	text-align: center;
	font-size: 40px;
}

.text-platinum{
	margin: 20px 50px;
	font-family: Luxury Platinum;
	font-weight: bold;
	font-size: 20px;

}

.platinum{
	text-align: center;
	margin-top: 50px;
	
}

hr { margin: 20px 50px;}
