<html>
<head>
	<meta charset="utf-8"/>
	<title> innovateUMBC </title>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>


<body>
<section id="content">
	<section id="header">
		<table id="navbar">
			<td id="home" class="nav-item">
				<li id="home" class="sn-item"> Home</li>
			</td>
			<td class="nav-item">
				<li id="sponsors" class="sn-item">Sponsors</li>
				<div class="sub-nav">
					 <a href="homepage/our_sponsors"> <li id="current" class="sn-item">Our Sponsors</li> </a>
					<li id="become" class="sn-item">Become a Sponsor</li>
				</div>
			</td>
			<td id="about" class="nav-item">
				<li id="about" class="sn-item">About Us</li>
				<div class="sub-nav">
					<li id="contact" class="sn-item">Contact Us</li>
				</div>
			</td>
		</table>
	</section>

	<div id="computer-wrapper">
		<img id="computer">
		<p id="sc-text"></p>
		<p id="kb-text"></p>

		<div style="display:none">
		<span class="home">
			<p id="screen">Are you ready to <i>hack</i>UMBC?</p>
			<p id="keyboard">We are hosting UMBC's first on-campus hackathon. We have an awesome computer science department and we want UMBC students to hack their campus.</p>
		</span>
		<span class="sponsors">
			<p id="screen">our sponsors</p>
			<p id="keyboard">We literally couldn't do anything without our sponsors. They make this all possible. Find out how to be a sponsor on the 'Become a Sponsor' tab.</p>
		</span>
		<span class="current">
			<p id="screen">current sponsors</p>
			<p id="keyboard">Some stuff</p>
		</span>
		<span class="become">
			<p id="screen">want to help us?</p>
			<p id="keyboard">we'd love it</p>
		</span>
		<span class="about">
			<p id="screen">want to know more</p>
			<p id="keyboard">here are my digits</p>
		</span>
		<span class="contact">
			<p id="screen" class="contact">feel free</p>
			<p id="keyboard" class="contact">to contact us anytime</p>
		</span>
		</div>
	</div>

	<section id="footer">
		<i>innovateUMBC</i> <!--logo-->
		2013<!-- date -->
		<div id="social"></div><!-- social media links -->
	</section>
	</section>
</body>


</html>