<div class="title-bar">
	SPONSORS
</div>


<div class="platinum">
	<div id="first-platinum-logo" class="moveMe">
		<a href="http://www.unleashbts.com/" target="_blank" >  <img alt="Github logo" src="/assets/bts.jpeg" style="width: 500px;"> </a>
	</div>
</div>

<hr>

<div class="gold">
  <div id="first-gold-logo" class="moveMe">
	 <a href="https://github.com/" target="_blank"> <img alt="Github logo" src="/assets/github-logo.png" style="width: 270px;"> </a>
  </div>

	<div id="second-gold-logo" class="moveMe">
		<a href="https://cantongroup.com/" target="_blank"> <img alt="Github logo" src="/assets/canton.jpg" style="width: 270px;" > </a>
	</div>

	<div id="third-gold-logo" class="moveMe">
		<a href="http://www.merkleinc.com/" target="_blank"> <img alt="Github logo" src="/assets/merkle.png" style="width: 270px;"> </a>
	</div>

</div>

<hr>

<div class="silver">
	<div id="first-silver-logo" class="moveMe">
		<a href="http://www.google.com/" target="_blank" >  <img alt="Github logo" src="/assets/google.jpg" style=" width: 150px; " > </a>
	</div>

	<div id="second-silver-logo" class="moveMe">
		<a href="http://www.yahoo.com/" target="_blank" >  <img alt="Github logo" src="/assets/yahoo.jpg" style=" width: 150px; " > </a>
	</div>

	<div id="third-silver-logo" class="moveMe">
		<a href="http://www.twitter.com/" target="_blank" >  <img alt="Github logo" src="/assets/twitter.png" style=" width: 150px; " > </a>
	</div>

	<div id="fourth-silver-logo" class="moveMe">
		<a href="http://www.linkedin.com/" target="_blank" >  <img alt="Github logo" src="/assets/linkedin.png" style=" width: 150px; " > </a>
	</div>

</div>

<hr>

<div class="bronze">
	<div id="first-bronze-logo" class="moveMe">
		<a href="http://www.redbeacon.com/" target="_blank" >  <img alt="Github logo" src="/assets/redbeacon.jpeg" style=" width: 90px; " > </a>
	</div>

	<div id="second-bronze-logo" class="moveMe">
		<a href="http://www.code2040.org/" target="_blank" >  <img alt="Github logo" src="/assets/code2040.jpg" style=" width: 90px; " > </a>
	</div>

	<div id="third-bronze-logo" class="moveMe">
		<a href="http://www.jawbone.com/" target="_blank" >  <img alt="Github logo" src="/assets/jawbone.jpg" style=" width: 90px; " > </a>
	</div>

	<div id="fourth-bronze-logo" class="moveMe">
		<a href="http://www.facebook.com/" target="_blank" >  <img alt="Github logo" src="/assets/facebook.png" style=" width: 90px; " > </a>
	</div>

	<div id="fifth-bronze-logo" class="moveMe">
		<a href="http://www.instagram.com/" target="_blank" >  <img alt="Github logo" src="/assets/instagram.jpg" style=" width: 90px; " > </a>
	</div>
</div>

<div class="botton-text">
	<a href="#"> SPONSOSHIP INFORMATION</a>
</div>