<div class="title-bar">
	SPONSORS
</div>

<div class="text-platinum">
	Platinum
</div>

<div class="platinum">
  <a href="http://www.unleashbts.com/"  target="_blank" ">  <%= image_tag("bts.jpeg") %>  </a>
</div>

<hr>

<div class="gold">
</div>

<div class="silver">
</div>

<div class="bronze">
</div>